.container1 {
    text-align: center;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    width: auto;
    background-color: lightpink;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    font-size: 60px;
    color: black;
}
h3 {
    font-size: 40px;
    color: black;
}
.img1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding-top: 20px;
    display: block;
    margin: auto;
    
}
h5  {
    justify-content: center;
    align-items: center;
    
}
.aboutme1 {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


h2 {
    text-align: center;
    font-size: 40px;
    color: black;
}
.aboutme {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    color: black;
}
.container3 {
    display: flex;
    justify-content:space-between ;
    padding: 40px;
    width: 60%;
    margin: 2rem auto 0 auto;
}

.img2 {
    width: 250px;
    height: 250px;
    border: 1px solid black; 
}
.textme {
    padding: 30px;
}
.container4 {
    display: flex;
    justify-content:space-between ;
    padding: 40px;
    width: 60%;
    margin: 2rem auto 0 auto;
}
.img3 {
    width: 250px;
    height: 250px;
    border: 1px solid black;
}
.container5 {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.hobbies {
    text-align: center;
}
button {
    padding: 10px;
    font-size: 16px;
    background-color: lightpink;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

.container6 {
    text-align: center;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    width: auto;
    background-color: lightpink;
    padding-top: 100px;
}
